# Tarea 1 Percy Herrera

## Lectura y conversion de la data

In [7]:
import pandas as pd
import datetime as dt
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv(r'C:\Users\Percy\Documents\cienciadatostec\MachineLearning\DataScienceTEC\Clase1\daily-min-temperatures.csv')
df.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

## Conversion de la data

In [8]:
print(df.dtypes)
df["Date"] =  pd.to_datetime(df["Date"], format='%Y-%m-%d', errors='ignore')
df["Date"] = df["Date"].astype('int64')
print(df.dtypes)
df.head()

Date     object
Temp    float64
dtype: object
Date      int64
Temp    float64
dtype: object

                 Date  Temp
0  347155200000000000  20.7
1  347241600000000000  17.9
2  347328000000000000  18.8
3  347414400000000000  14.6
4  347500800000000000  15.8

## Normalizacion de la data Manual

In [9]:
normalized_df = df - df.min() / df.max() -df.min()
normalized_df.head()

           Date  Temp
0  0.000000e+00  20.7
1  8.640000e+13  17.9
2  1.728000e+14  18.8
3  2.592000e+14  14.6
4  3.456000e+14  15.8

## Standarizacion de la data Normalizada Manual

In [10]:
standardised_df=(normalized_df-normalized_df.mean())/normalized_df.std()
standardised_df.head()

       Date      Temp
0 -1.730960  2.338563
1 -1.730012  1.650913
2 -1.729063  1.871943
3 -1.728115  0.840467
4 -1.727167  1.135175

## Normalizacion de la data Scikit-Learn

In [11]:
normalized_df2 = df
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(normalized_df2)
normalized_df2 = pd.DataFrame(x_scaled)
normalized_df2.columns = ['Date', 'Temp']
normalized_df2.head()

       Date      Temp
0  0.000000  0.787072
1  0.000274  0.680608
2  0.000548  0.714829
3  0.000822  0.555133
4  0.001096  0.600760

## Standarizacion de la data Normalizada Scikit-Learn

In [12]:
names = normalized_df2.columns
scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(normalized_df2)
scaled_df = pd.DataFrame(scaled_df, columns=names)
scaled_df.head()

       Date      Temp
0 -1.731197  2.338883
1 -1.730249  1.651139
2 -1.729300  1.872199
3 -1.728352  0.840583
4 -1.727403  1.135330